<section class="row mt-5">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Link</th>
          <th scope="col">Nombre</th>
          <th scope="col">password</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let informe of informes; index as i">
          <th scope="row">{{i+1}}</th>
          <td routerLink="/compararInforme/{{informe.id}}" class="card-title">{{informe.nombre_informe}}</td>
          <td>{{informe.nombre_informe}}</td>
          <td>{{informe.password}}</td>
          <td>
            <button class="btn btn-secondary" disabled="true">Update</button>
          </td>
          <td>
            <button class="btn btn-danger" (click) = "onDeleteInforme(informe.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>