<section id="informe" class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_informe">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="card-title">{{informe.nombre_informe}}</h4>
                <p class="card-text">
                  {{informe.password}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>